  i {
      display: block;
      &.formlogo {
          width: 56px;
          height: 78px;
          background: url('./../images/icons/icons.png') -439px -209px;

      }
      &.confirm {
          width: 35px;
          height: 33px;
          background: url('./../images/icons/icons.png') -241px -139px;
      }
      &.doctor {
          background: url('./../images/icons/icons.png') -352px -250px;

          width: 34px;
          height: 36px;


      }
      &.eye {
          width: 36px;
          height: 32px;
          background: url('./../images/icons/icons.png') -296px -139px;
      }
      &.lightbulb {
          width: 80px;
          height: 89px;
          background: url('./../images/icons/icons.png') -20px -20px;
      }
      &.telephone {
          display: inline-block;
          width: 23px;
          height: 23px;
          background: url('./../images/icons/icons.png') -209px -327px;

      }
      &.medal {
          width: 62px;
          height: 76px;
          background: url('./../images/icons/icons.png') -439px -113px;
      }
      &.down {
          cursor: pointer;
          width: 38px;
          height: 20px;
          background: url('./../images/icons/icons.png') -439px -384px;
           &:hover {
           
            opacity: 0.6;
        }
      }
      &.next {
                    cursor: pointer;

          width: 38px;
          height: 20px;
          background: url('./../images/icons/icons.png')-439px -384px;
          transform: rotate(90deg);
                  &:hover {
           
            opacity: 0.6;
        }
      }
      &.prev {
                    cursor: pointer;

          width: 38px;
          height: 20px;
          background: url('./../images/icons/icons.png')-439px -384px;
          transform: rotate(-90deg);
           &:hover {
           
            opacity: 0.6;
        }

      }
      &.medicine {
          width: 91px;
          height: 91px;
          background: url('./../images/icons/icons.png') -241px -10px;
      }
      &.coupon {
          width: 93px;
          height: 53px;
          background: url('./../images/icons/icons.png')-128px -139px;
      }
      &.users {
          width: 90px;
          height: 76px;
          background: url('./../images/icons/icons.png') -10px -231px;
      }
      &.woman {
          width: 40px;
          height: 54px;
          background: url('./../images/icons/icons.png') -352px -121px;
      }
      &.man {

          width: 41px;
          height: 57px;
          background: url('./../images/icons/icons.png') -439px -307px;

      }
      &.star {
          width: 21px;
          height: 20px;
          background: url('./../images/icons/icons.png') -209px -327px;
          display: inline-block;
      }
      &.cloud {
          width: 77px;
          height: 77px;
          background: url('./../images/icons/icons.png') -10px -327px;
      }
      &.cutter {
          width: 82px;
          height: 60px;
          background: url('./../images/icons/icons.png')-107px -327px;
      }
      &.fb {
          width: 35px;
          height: 35px;
          background: url('./../images/icons/icons.png') -352px -195px;

      }

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

  }
