@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

i {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  i.formlogo {
    width: 56px;
    height: 78px;
    background: url("./../images/icons/icons.png") -439px -209px; }
  i.confirm {
    width: 35px;
    height: 33px;
    background: url("./../images/icons/icons.png") -241px -139px; }
  i.doctor {
    background: url("./../images/icons/icons.png") -352px -250px;
    width: 34px;
    height: 36px; }
  i.eye {
    width: 36px;
    height: 32px;
    background: url("./../images/icons/icons.png") -296px -139px; }
  i.lightbulb {
    width: 80px;
    height: 89px;
    background: url("./../images/icons/icons.png") -20px -20px; }
  i.telephone {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("./../images/icons/icons.png") -209px -327px; }
  i.medal {
    width: 62px;
    height: 76px;
    background: url("./../images/icons/icons.png") -439px -113px; }
  i.down {
    cursor: pointer;
    width: 38px;
    height: 20px;
    background: url("./../images/icons/icons.png") -439px -384px; }
    i.down:hover {
      opacity: 0.6; }
  i.next {
    cursor: pointer;
    width: 38px;
    height: 20px;
    background: url("./../images/icons/icons.png")-439px -384px;
    transform: rotate(90deg); }
    i.next:hover {
      opacity: 0.6; }
  i.prev {
    cursor: pointer;
    width: 38px;
    height: 20px;
    background: url("./../images/icons/icons.png")-439px -384px;
    transform: rotate(-90deg); }
    i.prev:hover {
      opacity: 0.6; }
  i.medicine {
    width: 91px;
    height: 91px;
    background: url("./../images/icons/icons.png") -241px -10px; }
  i.coupon {
    width: 93px;
    height: 53px;
    background: url("./../images/icons/icons.png")-128px -139px; }
  i.users {
    width: 90px;
    height: 76px;
    background: url("./../images/icons/icons.png") -10px -231px; }
  i.woman {
    width: 40px;
    height: 54px;
    background: url("./../images/icons/icons.png") -352px -121px; }
  i.man {
    width: 41px;
    height: 57px;
    background: url("./../images/icons/icons.png") -439px -307px; }
  i.star {
    width: 21px;
    height: 20px;
    background: url("./../images/icons/icons.png") -209px -327px;
    display: inline-block; }
  i.cloud {
    width: 77px;
    height: 77px;
    background: url("./../images/icons/icons.png") -10px -327px; }
  i.cutter {
    width: 82px;
    height: 60px;
    background: url("./../images/icons/icons.png")-107px -327px; }
  i.fb {
    width: 35px;
    height: 35px;
    background: url("./../images/icons/icons.png") -352px -195px; }

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("./fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("./fonts/Montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("./../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* CSS3 calc() function to perform calculations */
body {
  font-family: "Montserrat";
  color: #263238; }
  body .container {
    max-width: 1366px;
    padding-left: 30px;
    padding-right: 30px; }
  body a {
    transform: .3s; }
    body a:hover {
      text-decoration: none;
      opacity: 0.6; }
  body a:focus,
  body input:focus {
    outline-color: transparent !important; }
  body .__button {
    text-align: center;
    z-index: 1200;
    position: relative; }
    body .__button__text--hidden--md {
      display: none; }
    body .__button--hidden--md {
      display: none; }
    body .__button--open {
      cursor: pointer;
      border-width: 2px;
      border-color: #37e9cf;
      border-style: solid;
      border-radius: 5px;
      color: #37e9cf;
      width: 53px;
      height: 53px;
      vertical-align: middle;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-top: 15px;
      margin-bottom: 15px; }
      body .__button--open i {
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px; }
      body .__button--open.close {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  body .header {
    background-image: url("./../images/photos/header-bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 180px;
    margin-bottom: -200px;
    position: relative;
    z-index: 2; }
    body .header__title {
      text-transform: uppercase;
      font-size: 55px;
      font-weight: bold;
      line-height: 1.129;
      letter-spacing: -2.5px;
      position: relative;
      padding-bottom: 12px;
      margin-bottom: 18px; }
      body .header__title:after {
        content: '';
        width: 49px;
        height: 0;
        border-width: 1px;
        border-color: #fff;
        border-style: solid;
        position: absolute;
        bottom: 0;
        left: 0; }
    body .header--bold {
      font-weight: bold; }
    body .header__description {
      font-size: 16px;
      line-height: 1.688; }
      body .header__description--small {
        font-size: 11px;
        font-weight: bold;
        line-height: 1.4; }
    body .header__button {
      padding: 15px;
      display: inline-block;
      border-radius: 10px !important;
      background-color: #ff4281;
      font-size: 28px;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.3;
      font-weight: lighter;
      margin-top: 20px;
      margin-bottom: 12px; }
      body .header__button .header--normal {
        font-weight: normal;
        font-size: 36px; }
      body .header__button .header--bold {
        text-transform: none; }
    body .header__logo {
      margin-bottom: 52px; }
      body .header__logo img {
        margin-left: 45px;
        margin-right: auto;
        display: block;
        max-width: 275px; }
    body .header--left {
      color: #fff; }
    body .header--right {
      margin-top: -100px; }
      body .header--right .header__form {
        padding: 20px 20px 30px;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 100%; }
      body .header--right .header__description {
        font-size: 25px;
        color: #263238;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        position: relative;
        padding-bottom: 16px; }
        body .header--right .header__description:after {
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -21.5px;
          content: '';
          border-width: 1px;
          border-color: #263238;
          border-style: solid;
          width: 43px;
          height: 0; }
        body .header--right .header__description--pink {
          text-align: center;
          font-size: 24px;
          color: #ff4281;
          line-height: 1.792; }
  body .form {
    background: white;
    border-radius: 5px; }
    body .form__content {
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.7);
      -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.75);
      border-radius: 5px; }
    body .form__input {
      width: 100%;
      border-style: solid;
      border-width: 2px;
      border-color: #37e9cf;
      color: #37e9cf;
      background-color: #ecfdfb;
      border-radius: 32.5px;
      height: 60px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 32px;
      margin-top: 28px; }
      body .form__input::-webkit-input-placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
      body .form__input:-ms-input-placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
      body .form__input::-ms-input-placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
      body .form__input::placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
      body .form__input:-ms-input-placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
      body .form__input::-ms-input-placeholder {
        opacity: 1;
        font-size: 15px;
        color: #37e9cf;
        font-weight: bold; }
    body .form__label {
      position: relative;
      cursor: pointer;
      font-size: 9px;
      color: #838383;
      line-height: 1.67;
      text-align: justify;
      padding-left: 46px;
      padding-right: 28px; }
      body .form__label:hover input ~ span {
        background-color: rgba(255, 66, 129, 0.5); }
      body .form__label span {
        border-radius: 2px;
        border: 1px solid #ff4281;
        position: absolute;
        top: 2px;
        left: 34px;
        height: 9px;
        width: 9px;
        background-color: transparent; }
        body .form__label span:after {
          position: absolute;
          content: '';
          left: 3px;
          top: -3px;
          width: 4px;
          height: 6px;
          border: solid #b7b7b7;
          border-width: 0 2px 2px 0;
          -webkit-transform: scale(2) rotate(45deg);
          -ms-transform: scale(2) rotate(45deg);
          transform: scale(2) rotate(45deg);
          display: none; }
    body .form__checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      body .form__checkbox:checked ~ span:after {
        content: '';
        display: block; }
    body .form__button {
      margin-top: 20px;
      padding: 17px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      background-image: -moz-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      background-image: -webkit-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      background-image: -ms-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      margin-left: auto;
      margin-right: auto;
      max-width: 367px;
      width: 100%;
      display: block;
      border-radius: 30px; }
  body .section--bold {
    font-weight: bold; }
  body .section .text--cyjan {
    color: #37e9cf; }
  body .section__logo i {
    margin-left: auto;
    margin-right: auto; }
  body .section__title {
    font-size: 75px;
    color: #263238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    z-index: 2;
    position: relative; }
  body .section__column {
    padding: 70px 70px 15px;
    position: relative; }
    body .section__column__number {
      position: absolute;
      font-size: 25px;
      font-size: 350px;
      color: #fff;
      font-weight: bold;
      line-height: 1.08;
      text-align: left;
      text-shadow: 0 0 32px rgba(147, 147, 147, 0.05);
      top: -10px;
      left: -2px;
      z-index: 0; }
    body .section__column__logo {
      position: relative;
      z-index: 2; }
    body .section__column__title {
      margin-top: 11px;
      margin-bottom: 14px;
      padding-bottom: 12px;
      font-size: 24px;
      color: #38ead0;
      font-weight: bold;
      line-height: 1.08;
      position: relative;
      z-index: 2; }
      body .section__column__title:after {
        border-width: 1px;
        border-color: #263238;
        border-style: solid;
        opacity: 0.302;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 27px;
        height: 0;
        content: '';
        display: block; }
    body .section__column__description {
      position: relative;
      z-index: 2;
      font-size: 15px;
      line-height: 1.65;
      margin-bottom: 15px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      clear: both; }
  body .section__description {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.44;
    text-align: center;
    margin-bottom: 35px; }
  body .section__button {
    text-align: center;
    max-width: 280px;
    height: 59px;
    border-radius: 29.5px;
    padding: 22px 55px;
    text-transform: uppercase;
    color: #white;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; }
    body .section__button--pink {
      color: #fff;
      background-image: -moz-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      background-image: -webkit-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      background-image: -ms-linear-gradient(-135deg, #ff4281 0%, #f85b90 100%);
      padding: 25px; }
    body .section__button--white {
      background-color: #fff;
      color: #37e9cf;
      border: 1px solid #37e9cf;
      margin-left: 0; }
  body .section--light {
    color: #fff; }
    body .section--light .section__title {
      color: #fff; }
    body .section--light .section__column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 50px 70px 15px; }
      body .section--light .section__column__title {
        color: #fff; }
        body .section--light .section__column__title:after {
          border-color: #fff;
          opacity: 1; }
  body .section--information {
    background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/more-bg.jpg");
    background-size: cover;
    background-position: center; }
  body .section--more {
    background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/more-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 235px;
    padding-bottom: 50px; }
  body .section--standard {
    position: relative;
    z-index: 2;
    margin-top: -280px;
    margin-bottom: -390px;
    background: url("./../images/photos/standard-bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    padding-top: 380px;
    padding-bottom: 430px; }
  body .section--doctors {
    padding-top: 145px;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/doctors-bg.png");
    background-position: center;
    background-size: cover;
    overflow: hidden; }
    body .section--doctors .section__title {
      position: relative;
      padding-bottom: 14px;
      padding-top: 14px; }
      body .section--doctors .section__title:after {
        border-width: 1px;
        border-color: #263238;
        border-style: solid;
        opacity: 0.42;
        position: absolute;
        left: -webkit-calc(50% - 29px);
        left: -moz-calc(50% - 29px);
        left: calc(50% - 29px);
        bottom: 0;
        width: 58px;
        height: 0;
        content: '';
        display: block; }
    body .section--doctors .section__description {
      font-size: 25px;
      color: #263238;
      line-height: 1.28;
      font-weight: normal; }
    body .section--doctors .slider__button {
      cursor: pointer; }
    body .section--doctors .slider__item {
      margin: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body .section--doctors .slider__item:focus {
        outline-color: transparent; }
      body .section--doctors .slider__item__img img {
        width: 278px;
        height: 278px;
        -o-object-fit: contain;
        object-fit: contain;
        border-radius: 50%;
        background: #37e9cf;
        margin-right: auto;
        margin-left: auto; }
      body .section--doctors .slider__item__title {
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 12px;
        padding-bottom: 12px;
        position: relative; }
        body .section--doctors .slider__item__title:after {
          border-width: 1px;
          border-color: #263238;
          border-style: solid;
          opacity: 0.431;
          position: absolute;
          left: -webkit-calc(50% - 15.5px);
          left: -moz-calc(50% - 15.5px);
          left: calc(50% - 15.5px);
          bottom: 0;
          width: 31px;
          content: ''; }
    body .section--doctors .slider__description {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 30px; }
  body .section--prices {
    background: url("./../images/photos/prices-bg.png");
    background-size: auto 100%;
    margin-top: -95px;
    margin-bottom: -300px;
    padding-top: 150px;
    padding-bottom: 320px;
    z-index: 2;
    position: relative; }
    body .section--prices h4 {
      font-size: 46px;
      font-weight: bold; }
    body .section--prices .section__title {
      margin-bottom: 12px;
      padding-bottom: 12px;
      position: relative; }
      body .section--prices .section__title:after {
        border-width: 1px;
        border-color: #fff;
        border-style: solid;
        opacity: 0.431;
        position: absolute;
        left: -webkit-calc(50% - 39.5px);
        left: -moz-calc(50% - 39.5px);
        left: calc(50% - 39.5px);
        bottom: 0;
        width: 79px;
        content: ''; }
    body .section--prices .section__description {
      font-weight: normal;
      margin-bottom: 75px; }
    body .section--prices .section__subdescription {
      font-size: 25px;
      margin-bottom: 12px; }
    body .section--prices .section__price-description {
      font-size: 30px;
      font-weight: normal; }
      body .section--prices .section__price-description span {
        font-size: 46px;
        font-weight: bold; }
    body .section--prices .slider i.prev {
      width: 20px;
      height: 38px;
      background: url("./../images/icons/icons.png")-233px -231px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      left: -20px;
      top: 50%; }
    body .section--prices .slider i.next {
      width: 20px;
      height: 38px;
      background: url("./../images/icons/icons.png") -233px -231px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      right: -20px;
      top: 50%; }
    body .section--prices .slider__item {
      border-radius: 10px;
      background: #fff;
      color: #37e9cf;
      text-align: center;
      padding-top: 45px;
      margin: 40px 10px; }
      body .section--prices .slider__item__title {
        font-size: 40px;
        font-weight: 700; }
      body .section--prices .slider__item__description {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 40px; }
      body .section--prices .slider__item__price {
        background-color: #c8faf3;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 30px;
        font-weight: 300; }
        body .section--prices .slider__item__price span {
          font-size: 46px;
          font-weight: bold; }
  body .section--reviews {
    padding-top: 182px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#fff)), url("./../images/photos/reviews-bg.png");
    background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/reviews-bg.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 300px; }
    body .section--reviews .section__title {
      position: relative;
      padding-bottom: 20px; }
      body .section--reviews .section__title:after {
        border-width: 1px;
        border-color: #263238;
        border-style: solid;
        position: absolute;
        left: -webkit-calc(50% - 37px);
        left: -moz-calc(50% - 37px);
        left: calc(50% - 37px);
        bottom: 0;
        width: 74px;
        height: 0;
        content: ''; }
    body .section--reviews .section__description {
      font-weight: normal; }
    body .section--reviews .slider {
      padding: 0 40px; }
      body .section--reviews .slider__item {
        margin: 30px 5px; }
        body .section--reviews .slider__item__img {
          height: 115px;
          width: 115px;
          border-radius: 50%;
          background: #37e9cf;
          padding-top: 28px;
          margin-bottom: 12px; }
          body .section--reviews .slider__item__img i {
            margin-right: auto;
            margin-left: auto; }
          body .section--reviews .slider__item__img img {
            margin-top: -28px; }
        body .section--reviews .slider__item__title {
          font-size: 16px;
          font-weight: bold;
          line-height: 26.99px; }
        body .section--reviews .slider__item__subtitle {
          margin-bottom: 16px; }
        body .section--reviews .slider__item__stars {
          margin-bottom: 8px; }
        body .section--reviews .slider__item__generaly {
          font-size: 25px;
          font-weight: bold;
          line-height: 26.99px;
          position: relative;
          padding-bottom: 12px;
          margin-bottom: 6px; }
          body .section--reviews .slider__item__generaly:after {
            border-width: 1px;
            border-color: #263238;
            border-style: solid;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 30px;
            height: 0;
            content: ''; }
        body .section--reviews .slider__item__description {
          font-size: 15px;
          font-weight: 400;
          line-height: 26.99px; }
  body .section--form {
    margin-top: -200px;
    background: url("./../images/photos/form-bg.png");
    background-size: 100% auto;
    background-position: 50% 250px;
    background-repeat: no-repeat;
    padding-bottom: 250px; }
    body .section--form .section__title {
      font-weight: normal;
      margin-bottom: 100px; }
      body .section--form .section__title--md {
        display: none; }
    body .section--form .form {
      padding: 32px 32px 46px;
      margin: 20px;
      border-radius: 10px; }
      body .section--form .form i {
        margin-top: 36px; }
      body .section--form .form__content {
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background: rbga(255, 255, 255, 0.7); }
      body .section--form .form__title {
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase; }
      body .section--form .form__input {
        margin-top: 16px;
        margin-bottom: 0 !important; }
        body .section--form .form__input:first-of-type {
          margin-top: 35px; }
        body .section--form .form__input:last-of-type {
          margin-bottom: 40px !important; }
      body .section--form .form__label {
        padding-left: 20px;
        padding-right: 20px; }
        body .section--form .form__label span {
          left: 0; }
      body .section--form .form__main-info {
        color: #37e9cf;
        margin-top: 36px;
        font-size: 50px;
        font-weight: bold;
        line-height: 52.85px; }
      body .section--form .form__description {
        color: #37e9cf;
        font-size: 24px;
        line-height: 43.01px;
        margin-top: 16px; }
        body .section--form .form__description--md {
          display: none; }
  body .slider {
    position: relative; }
    body .slider i.prev {
      z-index: 100;
      position: absolute;
      left: 0;
      top: 30%; }
    body .slider i.next {
      z-index: 100;
      position: absolute;
      right: 0;
      top: 30%; }
    body .slider__button {
      width: 50%; }
  body .footer {
    margin-top: -150px;
    padding-top: 210px;
    background: url("./../images/photos/footer-bg.png");
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat; }
    body .footer .fb--link--first {
      display: none; }
    body .footer__column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 15px;
      line-height: 24px;
      border-right: 1px solid #dedede;
      padding-left: 60px;
      padding-right: 60px; }
      body .footer__column:first-of-type {
        text-align: right; }
      body .footer__column:last-of-type {
        border-right: 0; }
      body .footer__column a {
        color: #263238; }
      body .footer__column .color--cyjan {
        color: #37e9cf;
        font-weight: bold; }
      body .footer__column .__button--green {
        height: 62px;
        border-radius: 30px;
        border: 1px solid #37e9cf;
        background-color: #37e9cf;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
    body .footer__links {
      margin-top: 70px;
      margin-bottom: 25px; }
      body .footer__links .footer__link {
        color: #263238;
        font-size: 15px;
        font-weight: 400;
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1px solid #dedede; }
        body .footer__links .footer__link:last-of-type {
          border-right: 0; }

@media screen and (max-width: 1700px) {
  body .section--form {
    background-position: 50% 350px; } }
@media screen and (max-width: 1450px) {
  body .section--form {
    background-position: 50% 450px; } }
@media screen and (max-width: 1300px) {
  body .section--form {
    background-position: 50% 550px; } }
@media screen and (max-width: 1199px) {
  body .header {
    background-position: 60% center !important; }
    body .header .container {
      padding-left: 30px;
      padding-right: 30px; }
  body .section--doctors .slider__item {
    margin: 30px; }
  body .section--reviews {
    padding-bottom: 50px; }
    body .section--reviews .slider {
      padding: 0; }
      body .section--reviews .slider i.prev {
        background: url("./../images/icons/icons.png") -262px -226px;
        padding: 7.5px 16.5px;
        border-width: 2px;
        border-color: #263238;
        border-style: solid;
        border-radius: 5px;
        width: 53px;
        height: 53px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        top: 20%; }
      body .section--reviews .slider i.next {
        background: url("./../images/icons/icons.png") -262px -226px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        padding: 7.5px 16.5px;
        border-width: 2px;
        border-color: #263238;
        border-style: solid;
        border-radius: 5px;
        width: 53px;
        height: 53px;
        top: 20%; }
      body .section--reviews .slider__item__img {
        float: left;
        margin-left: -webkit-calc(50% - 115px);
        margin-left: -moz-calc(50% - 115px);
        margin-left: calc(50% - 115px);
        margin-right: 20px;
        position: relative;
        margin-bottom: 40px; }
      body .section--reviews .slider__item__title {
        display: inline-block;
        width: -webkit-calc(50% - 60px);
        width: -moz-calc(50% - 60px);
        width: calc(50% - 60px);
        margin-top: 25px;
        margin-left: 0; }
      body .section--reviews .slider__item__subtitle {
        margin-left: 0;
        margin-right: auto; }
      body .section--reviews .slider__item__stars {
        clear: both; }
      body .section--reviews .slider__item__generaly {
        font-weight: bold;
        font-size: 25px; }
  body .section--form {
    background-position: top;
    background-image: url("./../images/photos/doctors-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 130px;
    margin-top: 0;
    padding-bottom: 150px; }
    body .section--form .section__logo i {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
    body .section--form .section__title {
      color: #fff; }
  body .footer {
    background: url("./../images/photos/footer-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: 30px; } }
@media screen and (max-width: 991px) {
  body .section__column {
    padding: 40px 40px 15px; }
    body .section__column__number {
      left: 0; }
  body .section--form .section__logo {
    margin-bottom: 20px; }
    body .section--form .section__logo i {
      width: 98px;
      height: 72px;
      background-position: -10px -139px; }
  body .section--form .section__title {
    padding-left: 40px;
    padding-right: 40px;
    display: none; }
    body .section--form .section__title--md {
      display: block;
      margin-bottom: 50px;
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      line-height: 60px;
      text-transform: uppercase; }
  body .section--form .form__content {
    margin-left: -15px;
    margin-right: -15px;
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: calc(100% + 30px); }
  body .section--form .form__title {
    /* Style for "Pobierz pr" */
    text-align: center;
    color: #ff4281;
    line-height: 43px;
    font-size: 40px;
    padding-bottom: 16px;
    margin-bottom: 16px; }
  body .section--form .form__description {
    display: none; }
    body .section--form .form__description--md {
      display: block;
      color: #ff4281;
      text-align: center;
      font-size: 33px; }
  body .section--form .form__label {
    font-size: 15px;
    margin-bottom: 20px; }
  body .section--form .form__logo {
    display: none; }
  body .section--form .form__main-info {
    display: none; }
  body .footer__column {
    text-align: center !important;
    border: 0;
    margin-bottom: 20px; } }
@media screen and (max-width: 767px) {
  body i.doctor,
  body i.confirm,
  body i.eye,
  body i.lightbulb {
    transform: scale(1.2); }
  body .header {
    background-image: url("./../images/photos/mobile-header-bg.png") !important;
    background-size: cover !important;
    background-position: bottom center !important;
    padding-top: 175px !important;
    overflow-x: hidden; }
    body .header--right {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 65px !important;
      padding: 0 !important; }
      body .header--right .header__form {
        border-radius: 10px; }
    body .header--left {
      position: static; }
      body .header--left .header__description {
        font-size: 24.5px;
        font-family: "Montserrat";
        color: #fff;
        line-height: 1.4; }
    body .header__button--more {
      position: absolute;
      right: 0;
      top: 50vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 2; }
      body .header__button--more img {
        position: absolute;
        bottom: 40px; }
      body .header__button--more .header__button {
        font-size: 22px !important;
        bottom: 0;
        z-index: 2;
        position: relative;
        display: block;
        padding: 12px;
        margin-right: -15px;
        width: 280px;
        right: 0;
        margin-left: auto; }
      body .header__button--more .header__description--small {
        width: 260px;
        margin-right: 0;
        margin-left: auto; }
      body .header__button--more .header--normal {
        font-size: 28px !important; }
    body .header__logo {
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff; }
      body .header__logo img {
        margin-right: auto !important;
        margin-left: auto !important;
        max-width: 100%;
        height: 120px; }
    body .header__title {
      font-size: 50px;
      line-height: 1.12; }
    body .header .form .header__description {
      font-size: 40px;
      color: #ff4281;
      line-height: 1.075; }
      body .header .form .header__description--pink {
        font-size: 30px; }
  body .section__button--green--md {
    color: #fff;
    background: #34e7cd; }
  body .section__title {
    font-size: 50px;
    text-align: left; }
  body .section__logo:not(.text-center) i {
    margin-left: 0; }
  body .section__column {
    display: block !important;
    padding: 25px 15px; }
    body .section__column__title {
      font-size: 33px; }
    body .section__column__description {
      font-size: 24px; }
    body .section__column__number {
      font-size: 250px;
      left: 15px;
      top: -20%; }
  body .section--more {
    background: none;
    padding-top: 190px; }
  body .section--standard {
    background: none;
    color: #263238; }
    body .section--standard .section__title {
      color: #263238; }
    body .section--standard .section__logo i.medal {
      width: 69px;
      height: 83px;
      background-position: -439px -10px; }
    body .section--standard .section__column {
      padding: 15px; }
      body .section--standard .section__column__title {
        float: left;
        display: inline-block;
        width: -webkit-calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: calc(100% - 60px);
        font-size: 33px;
        color: #37e9cf; }
        body .section--standard .section__column__title:after {
          display: none; }
  body .section--doctors {
    background: url("./../images/photos/doctors-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    body .section--doctors .section__title {
      color: #fff; }
      body .section--doctors .section__title:after {
        left: 0;
        border-color: #fff; }
    body .section--doctors .section__description {
      text-align: left;
      color: #fff; }
    body .section--doctors i.medicine {
      width: 91px;
      height: 91px;
      background: url("./../images/icons/icons.png") -241px -10px; }
    body .section--doctors .slider__item {
      color: #fff; }
      body .section--doctors .slider__item__title:after {
        border-color: #fff; }
      body .section--doctors .slider__item__img img {
        background-color: #fff; }
    body .section--doctors .slider i.prev {
      background: url("./../images/icons/icons.png") -222px -227px;
      padding: 7.5px 16.5px;
      border-width: 2px;
      border-color: #fff;
      border-style: solid;
      border-radius: 5px;
      width: 53px;
      height: 53px;
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    body .section--doctors .slider i.next {
      background: url("./../images/icons/icons.png") -222px -227px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      padding: 7.5px 16.5px;
      border-width: 2px;
      border-color: #fff;
      border-style: solid;
      border-radius: 5px;
      width: 53px;
      height: 53px; }
  body .section--prices {
    color: #263238;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#fff)), url("./../images/photos/prices-bg-mobile.png");
    background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/prices-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    body .section--prices .section__logo i.coupon {
      background-position: -120px -231px; }
    body .section--prices .section__title {
      color: #263238; }
      body .section--prices .section__title:after {
        border-color: #263238;
        left: 0; }
    body .section--prices .section__description {
      text-align: left; }
    body .section--prices .section__subdescription {
      display: none; }
    body .section--prices .section__price-description {
      display: none; }
    body .section--prices .slider i.prev {
      background: url("./../images/icons/icons.png") -262px -226px;
      padding: 7.5px 16.5px;
      border-width: 2px;
      border-color: #263238;
      border-style: solid;
      border-radius: 5px;
      width: 53px;
      height: 53px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      left: 0; }
    body .section--prices .slider i.next {
      right: 0;
      background: url("./../images/icons/icons.png") -262px -226px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      padding: 7.5px 16.5px;
      border-width: 2px;
      border-color: #263238;
      border-style: solid;
      border-radius: 5px;
      width: 53px;
      height: 53px; }
    body .section--prices .slider__item {
      border: 1px solid #37e9cf;
      margin-left: 80px;
      margin-right: 80px; }
      body .section--prices .slider__item__price {
        background-color: #37e9cf;
        color: #fff; }
  body .section--reviews {
    position: relative;
    z-index: 2;
    background-image: url("./../images/photos/reviews-ng-mobile.png");
    background-size: contain;
    background-repeat: no-repeat; }
    body .section--reviews .section__title:after {
      left: 0; }
    body .section--reviews .section__description {
      text-align: left; }
    body .section--reviews .slider__item__img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      margin-left: -webkit-calc(50% - 175px);
      margin-left: -moz-calc(50% - 175px);
      margin-left: calc(50% - 175px);
      margin-right: 50px; }
    body .section--reviews .slider__item__title {
      margin-top: 40px;
      font-size: 25px; }
    body .section--reviews .slider__item__subtitle {
      font-size: 25px; }
    body .section--reviews .slider__item__description {
      font-size: 25px; }
  body .section--form .section__logo i {
    margin-right: auto;
    margin-left: auto; }
  body .section--form .form__label {
    padding-right: 40px !important;
    padding-left: 40px !important; }
  body .__button {
    height: 90px;
    border-radius: 45px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .__button--hidden--md {
      display: inline-block; }
    body .__button--open.close + .section__column__description {
      display: none; }
      body .__button--open.close + .section__column__description + .section__button {
        display: none; }
    body .__button__text--visible--md {
      display: none; }
    body .__button__text--hidden--md {
      display: inline; }
  body .form {
    padding-top: 50px !important; }
    body .form__input {
      font-size: 25px;
      height: 90px;
      border-radius: 45px;
      padding-left: 100px;
      padding-right: 100px; }
      body .form__input::-webkit-input-placeholder {
        font-size: 25px; }
      body .form__input:-ms-input-placeholder {
        font-size: 25px; }
      body .form__input::-ms-input-placeholder {
        font-size: 25px; }
      body .form__input::placeholder {
        font-size: 25px; }
      body .form__input:-ms-input-placeholder {
        font-size: 25px; }
      body .form__input::-ms-input-placeholder {
        font-size: 25px; }
    body .form__label {
      font-size: 15px;
      line-height: 1.6; }
      body .form__label span {
        width: 35px;
        height: 35px;
        left: 5px; }
        body .form__label span:after {
          transform: scale(6) rotate(45deg);
          left: 16px;
          top: 6px; }
  body .footer .fb--link--first {
    display: inline-block;
    margin-bottom: 12px;
    transform: scale(1.2); }
  body .footer .fb--link--second {
    display: none; }
  body .footer__column {
    border-right: 0;
    text-align: center !important;
    margin-bottom: 20px; }
    body .footer__column:first-of-type {
      padding-bottom: 16px; }
      body .footer__column:first-of-type:after {
        border-width: 1px;
        border-color: #263238;
        border-style: solid;
        opacity: 0.42;
        position: absolute;
        left: -webkit-calc(50% - 24px);
        left: -moz-calc(50% - 24px);
        left: calc(50% - 24px);
        bottom: 0;
        width: 48px;
        height: 0;
        content: '';
        display: block; }
    body .footer__column:last-of-type {
      display: none; }
  body .footer__links {
    margin-top: 30px; } }
@media screen and (max-width: 584px) {
  body .header__button--more img {
    bottom: 90px; }
  body .slider--rewievs__item__img {
    transform: scale(1.2) !important;
    margin-left: -webkit-calc(50% - 115px);
    margin-left: -moz-calc(50% - 115px);
    margin-left: calc(50% - 115px);
    margin-right: 20px !important; } }
@media screen and (max-width: 576px) {
  body .header {
    padding-top: 420px !important; }
    body .header__logo img {
      width: 50%;
      margin-left: 15px !important;
      margin-right: auto;
      height: auto; }
    body .header__button--more img {
      bottom: 20px;
      right: 0;
      width: 50%; }
    body .header__button--more .header__button {
      border-radius: 0 !important; }
    body .header__button--more .header__description--small {
      padding-left: 30px;
      padding-right: 30px; }
  body .slider--reviews i {
    top: 14% !important; }
  body .slider--reviews .slider__item__img {
    transform: scale(1) !important;
    margin-left: 60px !important;
    margin-right: 20px !important; }
  body .slider--reviews .slider__item__title {
    margin-top: 20px !important; } }
@media screen and (max-width: 475px) {
  body .section--form .section__logo {
    margin-top: 50px; }
  body .section--prices .slider__item {
    margin-left: 55px;
    margin-right: 55px; }
    body .section--prices .slider__item__title {
      font-size: 30px; }
  body .form {
    margin: 0 !important; }
    body .form__title {
      font-size: 34px !important; }
  body .slider--doctors .slider__item__img {
    transform: scale(0.5);
    position: relative;
    left: -32%;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none; }
  body .slider--doctors .slider__button {
    height: 60px;
    font-size: 16px; }
  body .slider--reviews .slider__item__img {
    transform: scale(1.2);
    margin-right: auto !important;
    margin-left: auto !important;
    float: none; }
  body .slider--reviews .slider__item__title {
    text-align: center;
    width: 100%; }
  body .slider--reviews .slider__item__subtitle {
    text-align: center; }
  body .form__content {
    background: transparent;
    box-shadow: none; }
  body .form__input {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px; }
    body .form__input::-webkit-input-placeholder {
      font-size: 16px; }
    body .form__input:-ms-input-placeholder {
      font-size: 16px; }
    body .form__input::-ms-input-placeholder {
      font-size: 16px; }
    body .form__input::placeholder {
      font-size: 16px; }
    body .form__input:-ms-input-placeholder {
      font-size: 16px; }
    body .form__input::-ms-input-placeholder {
      font-size: 16px; }
  body .form__button {
    height: 60px;
    font-size: 16px; }
  body .__button:not(.header__button) {
    height: 60px;
    font-size: 16px; }
  body .section__title,
  body .section__title--md {
    font-size: 36px !important; }
  body .header {
    padding-top: 300px !important; }
    body .header__title {
      font-size: 36px;
      letter-spacing: 0; }
    body .header__form {
      margin: 0 -20px !important; }
    body .header__button--more {
      top: 35vw !important; }
    body .header__label {
      padding-left: 20px !important;
      padding-right: 18px !important; }
      body .header__label span {
        left: 8px !important; }
    body .header__description {
      font-size: 30px !important; } }
@media screen and (max-width: 375px) {
  body .header {
    padding-top: 250px !important; }
    body .header__button--more {
      top: 30vw !important; } }

/*# sourceMappingURL=main.css.map */
