@import 'reset';
@import 'slick-theme';
@import 'slick';
@import 'icons';
@import 'variables';
@import 'fonts';
@import 'mixin';

body {
    font-family: "Montserrat";
    color: $dark;

    .container {
        max-width: 1366px;
        padding-left: 30px;
        padding-right: 30px;
    }

    a {
        transform: .3s;
        &:hover {
            text-decoration: none;
            opacity: 0.6;
        }
    }

    a:focus,
    input:focus {
        outline-color: transparent !important;
    }

    .__button {
        text-align: center;
        z-index: 1200;
        position: relative;

        &__text--hidden--md {
            display: none;
        }

        &--hidden--md {
            display: none;
        }

        &--open {
            cursor: pointer;
            border-width: 2px;
            border-color: $cyjan;
            border-style: solid;
            border-radius: 5px;
            color: $cyjan;
            width: 53px;
            height: 53px;
            vertical-align: middle;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin-top: 15px;
            margin-bottom: 15px;

            i {
                margin-right: auto;
                margin-left: auto;
                margin-top: 15px;
            }

            &.close {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .header {
        background-image: url("./../images/photos/header-bg.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 180px;
        margin-bottom: -200px;
        position: relative;
        z-index: 2;

        &__title {
            text-transform: uppercase;
            font-size: 55px;
            font-weight: bold;
            line-height: 1.129;
            letter-spacing: -2.5px;
            position: relative;
            padding-bottom: 12px;
            margin-bottom: 18px;

            &:after {
                content: '';
                width: 49px;
                height: 0;
                border-width: 1px;
                border-color: $white;
                border-style: solid;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &--bold {
            font-weight: bold;
        }

        &__description {
            font-size: 16px;
            line-height: 1.688;
            

            &--small {
                font-size: 11px;
                font-weight: bold;
                line-height: 1.4;
            }
        }

        &__button {
            padding: 15px;
            display: inline-block;
            border-radius: 10px !important;
            background-color: $pink;
            font-size: 28px;
            color: $white;
            text-transform: uppercase;
            line-height: 1.3;
            font-weight: lighter;
            margin-top: 20px;
            margin-bottom: 12px;

            .header--normal {
                font-weight: normal;
                font-size: 36px;
            }

            .header--bold {
                text-transform: none;
            }
        }

        &__logo {
            margin-bottom: 52px;

            img {
                margin-left: 45px;
                margin-right: auto;
                display: block;
                max-width: 275px;
            }
        }

        &--left {
            color: $white;
        }

        &--right {
            margin-top: -100px;

            .header__form {
                padding: 20px 20px 30px;
                background: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                height: 100%;
            }

            .header__description {
                font-size: 25px;
                color: $dark;
                text-transform: uppercase;
                line-height: 1.2;
                text-align: center;
                position: relative;
                padding-bottom: 16px;

                &:after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -21.5px;
                    content: '';
                    border-width: 1px;
                    border-color: $dark;
                    border-style: solid;
                    width: 43px;
                    height: 0;
                }

                &--pink {
                    text-align: center;
                    font-size: 24px;
                    color: $pink;
                    line-height: 1.792;
                }
            }
        }
    }

    .form {
        background: rgba(255, 255, 255, 1);
        border-radius: 5px;

        &__content {
            background: rgba(255, 255, 255, 0.7);
            -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.7);
            -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.75);
            border-radius: 5px;
        }

        &__input {
            width: 100%;
            border-style: solid;
            border-width: 2px;
            border-color: $cyjan;
            color: $cyjan;
            background-color: #ecfdfb;
            border-radius: 32.5px;
            height: 60px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 32px;
            margin-top: 28px;

            &::-webkit-input-placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }

            &:-ms-input-placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }

            &::-ms-input-placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }

            &::placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }

            &:-ms-input-placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }

            &::-ms-input-placeholder {
                opacity: 1;
                font-size: 15px;
                color: $cyjan;
                font-weight: bold;
            }
        }

        &__label {
            position: relative;
            cursor: pointer;
            font-size: 9px;
            color: #838383;
            line-height: 1.67;
            text-align: justify;
            padding-left: 46px;
            padding-right: 28px;

            &:hover input ~ span {
                background-color: rgba(255, 66, 129, 0.5);
            }

            span {
                border-radius: 2px;
                border: 1px solid $pink;
                position: absolute;
                top: 2px;
                left: 34px;
                height: 9px;
                width: 9px;
                background-color: transparent;

                &:after {
                    position: absolute;
                    content: '';
                    left: 3px;
                    top: -3px;
                    width: 4px;
                    height: 6px;
                    border: solid #b7b7b7;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: scale(2) rotate(45deg);
                    -ms-transform: scale(2) rotate(45deg);
                    transform: scale(2) rotate(45deg);
                    display: none;
                }
            }
        }

        &__checkbox {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ span {
                &:after {
                    content: '';
                    display: block;
                }
            }
        }

        &__button {
            margin-top: 20px;
            padding: 17px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            background-image: -moz-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
            background-image: -webkit-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
            background-image: -ms-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
            margin-left: auto;
            margin-right: auto;
            max-width: 367px;
            width: 100%;
            display: block;
            border-radius: 30px;
        }
    }

    .section {
        &--bold {
            font-weight: bold;
        }

        .text--cyjan {
            color: $cyjan;
        }

        &__logo {
            i {
                margin-left: auto;
                margin-right: auto;
            }
        }
  
        &__title {
            font-size: 75px;
            color: $dark;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -2.5px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 18px;
                z-index: 2;
    position: relative;
        }

        &__column {
            padding: 70px 70px 15px;
            position: relative;

            &__number {
                position: absolute;
                font-size: 25px;
                font-size: 350px;
                color: $white;
                font-weight: bold;
                line-height: 1.08;
                text-align: left;
                text-shadow: 0 0 32px rgba(147, 147, 147, 0.05);
                top: -10px;
                left: -2px;
                z-index: 0;
            }

            &__logo {
                position: relative;
                z-index: 2;
            }

            &__title {
                margin-top: 11px;
                margin-bottom: 14px;
                padding-bottom: 12px;
                font-size: 24px;
                color: #38ead0;
                font-weight: bold;
                line-height: 1.08;
                position: relative;
                z-index: 2;

                &:after {
                    border-width: 1px;
                    border-color: $dark;
                    border-style: solid;
                    opacity: 0.302;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 27px;
                    height: 0;
                    content: '';
                    display: block;
                }
            }

            &__description {
                position: relative;
                z-index: 2;
                font-size: 15px;
                line-height: 1.65;
                margin-bottom: 15px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                clear: both;
            }
        }

        &__description {
            font-size: 25px;
            font-weight: bold;
            line-height: 1.44;
            text-align: center;
            margin-bottom: 35px;
        }

        &__button {
            text-align: center;
            max-width: 280px;
            height: 59px;
            border-radius: 29.5px;
            padding: 22px 55px;
            text-transform: uppercase;
            color: #white;
            font-weight: bold;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 14px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;

            &--pink {
                color: $white;
                background-image: -moz-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
                background-image: -webkit-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
                background-image: -ms-linear-gradient(-135deg, rgb(255, 66, 129) 0%, rgb(248, 91, 144) 100%);
                padding: 25px;
            }

            &--white {
                background-color: $white;
                color: $cyjan;
                border: 1px solid $cyjan;
                margin-left: 0;
            }
        }

        &--light {
            color: $white;

            .section {
                &__title {
                    color: $white;
                }

                &__column {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    padding: 50px 70px 15px;

                    &__title {
                        color: $white;

                        &:after {
                            border-color: $white;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &--information {
            background:  linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/more-bg.jpg");
            background-size: cover;
            background-position: center;
            
        }

        &--more {
            background:  linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/more-bg.jpg");
            background-size: cover;
            background-position: center;
            padding-top: 235px;
            padding-bottom: 50px;
        }

        &--standard {
            position: relative;
            z-index: 2;
            margin-top: -280px;
            margin-bottom: -390px;
            background: url("./../images/photos/standard-bg.png");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center;
            padding-top: 380px;
            padding-bottom: 430px;
        }

        &--doctors {
            padding-top: 145px;
            padding-bottom: 100px;
            background:  linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/doctors-bg.png");
            background-position: center;
            background-size: cover;
            overflow: hidden;

            .section {
                &__title {
                    position: relative;
                    padding-bottom: 14px;
                    padding-top: 14px;

                    &:after {
                        border-width: 1px;
                        border-color: $dark;
                        border-style: solid;
                        opacity: 0.42;
                        position: absolute;
                        @include calc(left,
                        '50% - 29px');
                        bottom: 0;
                        width: 58px;
                        height: 0;
                        content: '';
                        display: block;
                    }
                }

                &__description {
                    font-size: 25px;
                    color: $dark;
                    line-height: 1.28;
                    font-weight: normal;
                }
            }

            .slider {
                &__button{
                    cursor: pointer;
                }
                &__item {
                    margin: 40px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;

                    &:focus {
                        outline-color: transparent;
                    }

                    &__img {
                        img {
                            width: 278px;
                            height: 278px;
                            -o-object-fit: contain;
                            object-fit: contain;
                            border-radius: 50%;
                            background: $cyjan;
                            margin-right: auto;
                            margin-left: auto;
                        }
                    }

                    &__title {
                        margin-top: 20px;
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 12px;
                        padding-bottom: 12px;
                        position: relative;

                        &:after {
                            border-width: 1px;
                            border-color: $dark;
                            border-style: solid;
                            opacity: 0.431;
                            position: absolute;
                            @include calc(left,
                            '50% - 15.5px');
                            bottom: 0;
                            width: 31px;
                            content: '';
                        }
                    }
                }

                &__description {
                    text-align: center;
                    line-height: 1.5;
                    margin-bottom: 30px;
                }
            }
        }

        &--prices {
            background: url("./../images/photos/prices-bg.png");
            background-size: auto 100%;
            margin-top: -95px;
            margin-bottom: -300px;
            padding-top: 150px;
            padding-bottom: 320px;
            z-index: 2;
            position: relative;

            h4 {
                font-size: 46px;
                font-weight: bold;
            }

            .section {
                &__title {
                    margin-bottom: 12px;
                    padding-bottom: 12px;
                    position: relative;

                    &:after {
                        border-width: 1px;
                        border-color: $white;
                        border-style: solid;
                        opacity: 0.431;
                        position: absolute;
                        @include calc(left,
                        '50% - 39.5px');
                        bottom: 0;
                        width: 79px;
                        content: '';
                    }
                }

                &__description {
                    font-weight: normal;
                    margin-bottom: 75px;
                }

                &__subdescription {
                    font-size: 25px;
                    margin-bottom: 12px;
                }

                &__price-description {
                    font-size: 30px;
                    font-weight: normal;

                    span {
                        font-size: 46px;
                        font-weight: bold;
                    }
                }
            }

            .slider {
                i.prev {
                    width: 20px;
                    height: 38px;
                    background: url('./../images/icons/icons.png')-233px -231px;
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                    left: -20px;
                    top: 50%;
                }

                i.next {
                    width: 20px;
                    height: 38px;
                    background: url("./../images/icons/icons.png") -233px -231px;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    right: -20px;
                    top: 50%;
                }

                &__item {
                    border-radius: 10px;
                    background: $white;
                    color: $cyjan;
                    text-align: center;
                    padding-top: 45px;
                    margin: 40px 10px;

                    &__title {
                        font-size: 40px;
                        font-weight: 700;
                    }

                    &__description {
                        font-size: 16px;
                        font-weight: 400;
                        padding-bottom: 40px;
                    }

                    &__price {
                        background-color: #c8faf3;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        font-size: 30px;
                        font-weight: 300;

                        span {
                            font-size: 46px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &--reviews {
            padding-top: 182px;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#fff)), url("./../images/photos/reviews-bg.png");
            background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/reviews-bg.png");
            background-position: center;
            background-size: cover;
           padding-bottom: 300px;

            .section {
                &__title {
                    position: relative;
                    padding-bottom: 20px;

                    &:after {
                        border-width: 1px;
                        border-color: $dark;
                        border-style: solid;
                        position: absolute;
                        @include calc(left,
                        '50% - 37px');
                        bottom: 0;
                        width: 74px;
                        height: 0;
                        content: '';
                    }
                }

                &__description {
                    font-weight: normal;
                }
            }

            .slider {
                padding: 0 40px;

                &__item {
                    margin: 30px 5px;

                    &__img {
                        height: 115px;
                        width: 115px;
                        border-radius: 50%;
                        background: $cyjan;
                        padding-top: 28px;
                        margin-bottom: 12px;

                        i {
                            margin-right: auto;
                            margin-left: auto;
                        }

                        img {
                            margin-top: -28px;
                        }
                    }

                    &__title {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 26.99px;
                    }

                    &__subtitle {
                        margin-bottom: 16px;
                    }

                    &__stars {
                        margin-bottom: 8px;
                    }

                    &__generaly {
                        font-size: 25px;
                        font-weight: bold;
                        line-height: 26.99px;
                        position: relative;
                        padding-bottom: 12px;
                        margin-bottom: 6px;

                        &:after {
                            border-width: 1px;
                            border-color: $dark;
                            border-style: solid;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 30px;
                            height: 0;
                            content: '';
                        }
                    }

                    &__description {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 26.99px;
                    }
                }
            }
        }

        &--form {
            margin-top: -200px;
            background: url("./../images/photos/form-bg.png");
            background-size: 100% auto;
            background-position: 50% 250px;
            background-repeat: no-repeat;
            padding-bottom: 250px;

            .section {
                &__title {
                    font-weight: normal;
                    margin-bottom: 100px;

                    &--md {
                        display: none;
                    }
                }
            }

            .form {
                    padding: 32px 32px 46px;

                margin: 20px;
                border-radius: 10px;
                i{
                    margin-top: 36px;
                }
                &__content {
                    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    background: rbga(255, 255, 255, 0.7);
                }

                &__title {
                    font-size: 25px;
                    line-height: 30px;
                    text-transform: uppercase;
                }

                &__input {
                    margin-top: 16px;
                    margin-bottom: 0 !important;

                    &:first-of-type {
                        margin-top: 35px;
                    }

                    &:last-of-type {
                        margin-bottom: 40px !important;
                    }
                }
                &__label{
                    padding-left: 20px;
                    padding-right: 20px;
                    span{
                        left: 0;
                    }
                }
                &__main-info {
                    color: $cyjan;
                    margin-top: 36px;
                    font-size: 50px;
                    font-weight: bold;
                    line-height: 52.85px;
                }

                &__description {
                    color: $cyjan;
                    font-size: 24px;
                    line-height: 43.01px;
                    margin-top:16px;

                    &--md {
                        display: none;
                    }
                }
            }
        }
    }

    .slider {
        position: relative;

        i.prev {
            z-index: 100;
            position: absolute;
            left: 0;
            top: 30%;
        }

        i.next {
            z-index: 100;
            position: absolute;
            right: 0;
            top: 30%;
        }

        &__button {
            width: 50%;
        }
    }

    .footer {
        margin-top: -150px;
        padding-top: 210px;
        background: url("./../images/photos/footer-bg.png");
        background-size: 100% 100%;
        background-position: top;
        background-repeat: no-repeat;
        .fb--link{
            &--first{
                display: none;
            }
        }

        &__column {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 15px;
            line-height: 24px;
            border-right: 1px solid #dedede;
            padding-left: 60px;
            padding-right: 60px;

            &:first-of-type {
                text-align: right;
            }
                &:last-of-type {
                    border-right: 0;
                }

                a {
                    color: $dark;
                }

                .color--cyjan {
                    color: $cyjan;
                    font-weight: bold;
                }

                .__button--green {
                    height: 62px;
                    border-radius: 30px;
                    border: 1px solid $cyjan;
                    background-color: $cyjan;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            &__links {
                margin-top: 70px;
                margin-bottom: 25px;

                .footer__link {
                    color: $dark;
                    font-size: 15px;
                    font-weight: 400;
                    padding-right: 15px;
                    padding-left: 15px;
                    border-right: 1px solid #dedede;

                    &:last-of-type {
                        border-right: 0;
                    }
                
            }
        }
    }
}

@import 'mediaquery';
