@media screen and (max-width:1700px) {
    body .section--form {
        background-position: 50% 350px;
    }
}

@media screen and (max-width:1450px) {
    body .section--form {
        background-position: 50% 450px;
    }
}

@media screen and (max-width:1300px) {
    body .section--form {
        background-position: 50% 550px;
    }
}

@media screen and (max-width: 1199px) {
    body {
        .header {
            background-position: 60% center !important;

            .container {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .section {
            &--doctors {
                .slider {
                    &__item {
                        margin: 30px;
                    }
                }
            }

            &--reviews {
                padding-bottom: 50px;

                .slider {
                    padding: 0;

                    i.prev {
                        background: url("./../images/icons/icons.png") -262px -226px;
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $dark;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                        -webkit-transform: rotate(0);
                        transform: rotate(0);
                        top: 20%;
                    }

                    i.next {
                        background: url("./../images/icons/icons.png") -262px -226px;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $dark;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                        top: 20%;
                    }

                    &__item {
                        &__img {
                            float: left;
                            @include calc(margin-left,
                            '50% - 115px');
                            margin-right: 20px;
                            position: relative;
                            margin-bottom: 40px;
                        }

                        &__title {
                            display: inline-block;
                            @include calc(width,
                            '50% - 60px');
                            margin-top: 25px;
                            margin-left: 0;
                        }

                        &__subtitle {
                            margin-left: 0;
                            margin-right: auto;
                        }

                        &__stars {
                            clear: both;
                        }

                        &__generaly {
                            font-weight: bold;
                            font-size: 25px;
                        }
                    }
                }
            }

            &--form {
                background-position: top;
                background-image: url("./../images/photos/doctors-bg-mobile.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding-top: 130px;
                margin-top: 0;
                padding-bottom: 150px;

                .section {
                    &__logo {
                        i {
                            -webkit-filter: brightness(0) invert(1);
                            filter: brightness(0) invert(1);
                        }
                    }

                    &__title {
                        color: $white;
                    }
                }
            }
        }

        .footer {
            //            padding-top: 100px;
            background: url("./../images/photos/footer-bg-mobile.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: 0;
            padding-top: 30px;

        }
    }
}

@media screen and (max-width: 991px) {
    body {
        .section {
            &__column {
                padding: 40px 40px 15px;

                &__number {
                    left: 0;
                }
            }

            &--form {
                .section {
                    &__logo {
                        margin-bottom: 20px;

                        i {
                            width: 98px;
                            height: 72px;
                            background-position: -10px -139px;
                        }
                    }

                    &__title {
                        padding-left: 40px;
                        padding-right: 40px;
                        display: none;

                        &--md {
                            display: block;
                            margin-bottom: 50px;
                            color: $white;
                            font-size: 50px;
                            font-weight: bold;
                            line-height: 60px;
                            text-transform: uppercase;
                        }
                    }
                }

                .form {
                    &__content {
                        margin-left: -15px;
                        margin-right: -15px;
                        @include calc(width,
                        '100% + 30px');
                    }
                    &__title {
                        /* Style for "Pobierz pr" */
                        text-align: center;
                        color: $pink;
                        line-height: 43px;
                        font-size: 40px;
                        padding-bottom: 16px;
                        margin-bottom: 16px;
                    }

                    &__description {
                        display: none;

                        &--md {
                            display: block;
                            color: $pink;
                            text-align: center;
                            font-size: 33px;
                        }
                    }

                    &__label {
                        font-size: 15px;
                        margin-bottom: 20px;
                    }

                    &__logo {
                        display: none;
                    }

                    &__main-info {
                        display: none;
                    }
                }
            }
        }
        .footer {
            &__column {
                text-align: center !important;
                border: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        i.doctor,
        i.confirm,
        i.eye,
        i.lightbulb {
            transform: scale(1.2);
        }
        .header {
            background-image: url("./../images/photos/mobile-header-bg.png") !important;
            background-size: cover !important;
            background-position: bottom center !important;
            padding-top: 175px !important; //        min-height: 1500px;
            overflow-x: hidden;
            &--right {
                position: static;

                margin-left: auto;
                margin-right: auto;
                margin-top: 65px !important;
                padding: 0 !important;

                .header__form {
                    border-radius: 10px;
                }
            }

            &--left {
                position: static;

                .header__description {
                    font-size: 24.5px;
                    font-family: "Montserrat";
                    color: $white;
                    line-height: 1.4;



                }
            }

            &__button--more {
                position: absolute;
                right: 0;
                top: 50vw;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                z-index: 2;

                img {
                    position: absolute;
                    bottom: 40px;
                }

                .header__button {
                    font-size: 22px !important;
                    bottom: 0;
                    z-index: 2;
                    position: relative;
                    display: block;
                    padding: 12px;
                    margin-right: -15px;
                    width: 280px;
                    right: 0;

                    margin-left: auto;
                }
                .header__description--small {

                    width: 260px;
                    margin-right: 0;
                    margin-left: auto;
                }

                .header--normal {
                    font-size: 28px !important;
                }
            }

            &__logo {
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: #fff;

                img {
                    margin-right: auto !important;
                    margin-left: auto !important;
                    max-width: 100%;
                    height: 120px;
                }
            }
            &__title {

                font-size: 50px;

                line-height: 1.12;


            }
            .form {
                .header__description {

                    font-size: 40px;

                    color: $pink;

                    line-height: 1.075;
                    &--pink {

                        font-size: 30px;


                    }


                }
            }
        }

        .section {
            &__button--green--md {
                color: $white;
                background: rgb(52, 231, 205);
            }

            &__title {
                font-size: 50px;
                text-align: left;
            }

            &__logo:not(.text-center) {
                i {
                    margin-left: 0;
                }
            }

            &__column {
                display: block !important;
                padding: 25px 15px;
                &__title {

                    font-size: 33px;


                }
                &__description {
                    font-size: 24px;
                }
                &__number {
                    font-size: 250px;
                    left: 15px;
                    top: -20%;
                }
            }

            &--more {
                background: none;
                padding-top: 190px;
            }

            &--standard {
                background: none;
                color: $dark;

                .section {
                    &__title {
                        color: $dark;
                    }

                    &__logo {
                        i.medal {
                            width: 69px;
                            height: 83px;
                            background-position: -439px -10px;
                        }
                    }

                    &__column {
                        padding: 15px;

                        &__title {
                            float: left;
                            display: inline-block;
                            @include calc(width,
                            '100% - 60px');
                            font-size: 33px;
                            color: $cyjan;

                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }

            &--doctors {
                background: url("./../images/photos/doctors-bg-mobile.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;

                .section {
                    &__title {
                        color: $white;

                        &:after {
                            left: 0;
                            border-color: $white;
                        }
                    }

                    &__description {
                        text-align: left;
                        color: $white;
                    }
                }

                i.medicine {
                    width: 91px;
                    height: 91px;
                    background: url("./../images/icons/icons.png") -241px -10px;
                }

                .slider {
                    &__item {
                        color: $white;

                        &__title {
                            &:after {
                                border-color: $white;
                            }
                        }

                        &__img img {
                            background-color: $white;
                        }
                    }

                    i.prev {
                        background: url("./../images/icons/icons.png") -222px -227px;
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $white;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                        -webkit-transform: rotate(0);
                        transform: rotate(0);
                    }

                    i.next {
                        background: url("./../images/icons/icons.png") -222px -227px;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $white;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                    }
                }
            }

            &--prices {
                color: $dark;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#fff)), url("./../images/photos/prices-bg-mobile.png");
                background: linear-gradient(to bottom, transparent 80%, #fff 100%), url("./../images/photos/prices-bg-mobile.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                .section {
                    &__logo {
                        i.coupon {
                            background-position: -120px -231px;
                        }
                    }

                    &__title {
                        color: $dark;
                        &:after {
                            border-color: $dark;
                            left: 0;
                        }
                    }

                    &__description {
                        text-align: left;
                    }

                    &__subdescription {
                        display: none;
                    }

                    &__price-description {
                        display: none;
                    }
                }

                .slider {
                    i.prev {
                        background: url("./../images/icons/icons.png") -262px -226px;
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $dark;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                        -webkit-transform: rotate(0);
                        transform: rotate(0);
                        left: 0;
                    }

                    i.next {
                        right: 0;
                        background: url("./../images/icons/icons.png") -262px -226px;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        padding: 7.5px 16.5px;
                        border-width: 2px;
                        border-color: $dark;
                        border-style: solid;
                        border-radius: 5px;
                        width: 53px;
                        height: 53px;
                    }

                    &__item {
                        border: 1px solid $cyjan;
                        margin-left: 80px;
                        margin-right: 80px;

                        &__price {
                            background-color: $cyjan;
                            color: $white;
                        }
                    }
                }
            }

            &--reviews {
                position: relative;
                z-index: 2;
                background-image: url("./../images/photos/reviews-ng-mobile.png");
                background-size: contain;
                background-repeat: no-repeat;

                .section {
                    &__title {
                        &:after {
                            left: 0;
                        }
                    }

                    &__description {
                        text-align: left;
                    }
                }

                .slider {
                    &__item {
                        &__img {
                            -webkit-transform: scale(1.5);
                            transform: scale(1.5);
                            @include calc(margin-left,
                            '50% - 175px');
                            margin-right: 50px;
                        }

                        &__title {
                            margin-top: 40px;
                            font-size: 25px;
                        }

                        &__subtitle {
                            font-size: 25px;
                        }

                        &__description {
                            font-size: 25px;
                        }
                    }
                }
            }
            &--form {
                .section__logo i {
                    margin-right: auto;
                    margin-left: auto;
                }
                .form__label {
                    padding-right: 40px !important;
                    padding-left: 40px !important;
                }
            }
        }

        .__button {
            height: 90px;
            border-radius: 45px;

            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            &--hidden--md {
                display: inline-block;
            }

            &--open {
                &.close {
                    & + .section__column__description {
                        display: none;

                        & + .section__button {
                            display: none;
                        }
                    }
                }
            }

            &__text {
                &--visible--md {
                    display: none;
                }

                &--hidden--md {
                    display: inline;
                }
            }
        }
        .form {
            padding-top: 50px !important;

            &__input {
                font-size: 25px;
                height: 90px;
                border-radius: 45px;
                padding-left: 100px;
                padding-right: 100px;
                &::-webkit-input-placeholder {

                    font-size: 25px;


                }

                &:-ms-input-placeholder {
                    font-size: 25px;
                }

                &::-ms-input-placeholder {
                    font-size: 25px;
                }

                &::placeholder {
                    font-size: 25px;
                }

                &:-ms-input-placeholder {
                    font-size: 25px;
                }

                &::-ms-input-placeholder {
                    font-size: 25px;
                }
            }
            &__label {

                font-size: 15px;

                line-height: 1.6;

                span {
                    width: 35px;
                    height: 35px;
                    left: 5px;
                    &:after {
                        transform: scale(6) rotate(45deg);
                        left: 16px;
                        top: 6px;
                    }
                }
            }
        }

        .footer {
            .fb--link {
                &--first {
                    display: inline-block;
                    margin-bottom: 12px;
                    transform: scale(1.2);
                }
                &--second {
                    display: none;
                }
            }
            &__column {
                border-right: 0;
                text-align: center !important;
                margin-bottom: 20px;
                &:first-of-type {
                    padding-bottom: 16px;
                    &:after {
                        border-width: 1px;
                        border-color: $dark;
                        border-style: solid;
                        opacity: 0.42;
                        position: absolute;
                        @include calc(left,
                        '50% - 24px');
                        bottom: 0;
                        width: 48px;
                        height: 0;
                        content: '';
                        display: block;
                    }
                }
                &:last-of-type {
                    display: none;
                }
            }
            &__links {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 584px) {
    body {
        .header__button--more {
            img {
                bottom: 90px;
            }
        }
        .slider--rewievs {
            &__item__img {
                transform: scale(1.2) !important;
                @include calc(margin-left,
                '50% - 115px');
                margin-right: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    body {

        .header {
            padding-top: 420px !important;

            &__logo img {
                width: 50%;
                margin-left: 15px !important;
                margin-right: auto;
                height: auto;
            }

            &__button--more {
                img {
                    bottom: 20px;
                    right: 0;
                    width: 50%;
                }

                .header__button {
                    border-radius: 0 !important;
                }

                .header__description--small {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        .slider--reviews {
            i {
                top: 14% !important;
            }
            .slider {
                &__item {
                    &__img {
                        transform: scale(1) !important;
                        margin-left: 60px !important;
                        margin-right: 20px !important;
                    }
                    &__title {
                        margin-top: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    body {

        .section--form {
            .section__logo {
                margin-top: 50px;
            }
        }
        .section--prices .slider__item {

            margin-left: 55px;
            margin-right: 55px;
            &__title {
                font-size: 30px;
            }
        }

        .form {
            margin: 0 !important;
            &__title {
                font-size: 34px !important;
            }
        }
        .slider--doctors {
            .slider {
                &__item {
                    &__img {
                        transform: scale(0.5);
                        position: relative;
                        left: -32%;
                        margin-right: auto !important;
                        margin-left: auto !important;
                        float: none;
                    }
                }
                &__button {
                    height: 60px;
                    font-size: 16px;
                }
            }
        }
        .slider--reviews {
            .slider {
                &__item {
                    &__img {
                        transform: scale(1.2);
                        margin-right: auto !important;
                        margin-left: auto !important;
                        float: none;
                    }
                    &__title {
                        text-align: center;
                        width: 100%;
                    }
                    &__subtitle {
                        text-align: center;

                    }
                }

            }
        }

        .form {
            &__content {
                background: transparent;
                box-shadow: none;
            }
            &__input {
                height: 60px;
                padding-left: 30px;
                padding-right: 30px;
                font-size: 16px;
                &::-webkit-input-placeholder {

                    font-size: 16px;


                }

                &:-ms-input-placeholder {
                    font-size: 16px;
                }

                &::-ms-input-placeholder {
                    font-size: 16px;
                }

                &::placeholder {
                    font-size: 16px;
                }

                &:-ms-input-placeholder {
                    font-size: 16px;
                }

                &::-ms-input-placeholder {
                    font-size: 16px;
                }
            }
            &__button {
                height: 60px;
                font-size: 16px;
            }
        }
        .__button:not(.header__button){
             height: 60px;
                font-size: 16px;
        }
        .section__title,
        .section__title--md {
            font-size: 36px !important;
        }
        .header {
            padding-top: 300px !important;
            &__title {
                font-size: 36px;
                letter-spacing: 0;

            }

            &__form {
                margin: 0 -20px !important;

            }
            &__button--more {
                top: 35vw !important;
            }

            &__label {
                padding-left: 20px !important;
                padding-right: 18px !important;

                span {
                    left: 8px !important;
                }
            }
            &__description {
                font-size: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body {
        .header {
            padding-top: 250px !important;

            &__button--more {
                top: 30vw !important;
            }
        }
    }
}
